@import "./helpers.scss";
.res-embed {
  height: calc(100vh - 90px);
  width: 56vw;
}

.res-embed-container {
}
.closing {
  align-self: flex-start;
  margin-left: 10%;
  font-weight: bold;
  color: rgb(32, 6, 53);
}

.contact-layout {
  @include flexbox(row, flex-start, flex-start);
  height: calc(100vh - 90px);
}
.contact-title {
  margin-top: 40px;
  text-align: center;
}
.get-in-contact {
  width: 40%;
  margin-left: 20%;
  @include flexbox(column, flex-start, center);
}
.contact-container {
  width: 44vw;
  padding-top: 24px;
}

.contact-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, 70px);
  font-size: 1.8em;
  padding-left: 35%;
  color: rgb(54, 54, 88);
}
.contact-link {
  color: $darkp;
}
.contact-link:hover {
  color: $lightb;
  text-decoration: none;
}
.parentheses {
  font-family: "Inconsolata", monospace;
}

@media screen and (max-width: 770px) {
  .res-embed-container {
    display: none;
  }
  .contact-layout {
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
  }
  .get-in-contact {
    // width: 40%;
    // margin-left: 20%;
    @include flexbox(column, flex-start, flex-start);
  }
  .contact-div {
    padding-left: 20px;
  }
  .closing {
    margin-left: 0;
  }
}

@media screen and (max-width: 670px) {
  .contact-layout {
    justify-content: flex-start;
    padding-left: 10px;
    .main-title {
      text-align: left;
    }
  }
  .res-embed-container {
    display: none;
  }
  .get-in-contact {
    margin: 0;
    width: 100%;
    justify-self: center;
    margin-left: 1%;
  }

  .contact-div {
    margin-left: 5%;
  }
  .contact-container {
    width: 65vw;
  }
  .closing {
    padding-left: 0;
    margin-left: 0;
  }
}
