@import './helpers.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.main-layout {
  @include flexbox(row, flex-start, center);
  // background-color: $white;
  height: calc(100vh - 85px);
  width: 100vw;
}

.work-layout {
  width: 25%;
  height: 100%;
  // background-color: $white;
  color: rgb(38, 38, 56);
  @include flexbox(column, flex-start, center);
  box-shadow: 0 0 3px 3px grey;
  
  padding-left: 15px;
  padding-right: 15px;
  cursor: default;

}
.projects-layout {
  width: 50%;
  height: 100%;
  @include flexbox(column, flex-start, center);
  // transition: width 2s;
  user-select: none;
  padding: 0;
  margin: 0;
  

}
// .projects-layout:hover {
//   width: 85%;
// }

.specialty-layout {
  @include flexbox(column, flex-start, center);
  
  min-height: calc(100vh - 85px);
  width: 25%;
  // background-color: $white;
  // padding-bottom: 75px;
}
.main-title {
  text-align: center;
  padding-bottom: 35px;
  padding-top: 40px;
  width: 100%;
  color: rgb(32, 6, 53);
  font-weight: bold;
  margin: 0;
  width: 99%;
}
.work-image {
  height: 75px;
  border-radius: 50%;
  box-shadow: 4px -4px  rgba(119, 119, 119, 0.6);
  -moz-box-shadow: 10px -10px  rgba(109, 109, 109, 0.6);
  -webkit-box-shadow: 4px -4px  rgba(122, 122, 122, 0.6);
  -o-box-shadow: 10px -10px  rgba(129, 129, 129, 0.6);
}
.work-item-container {
  @include flexbox(row, space-between, center);
  width: 100%;
  text-align: right;
  margin-bottom: 35px;
}
.work-header {
  margin-bottom: 100px;
}

.projects-iframe {
  width: 80%;
  min-height: 280px;
  border: 2px solid rgb(197, 197, 197);
  border-right: 3px solid rgb(197, 197, 197);
}
.projects-iframe:hover {
  width: 80%;
  min-height: 280px;
  box-shadow: 0 0 4px 4px grey;
}
.jungle-screen {
  width: 80%;
  height: 260px;
    border: 2px solid rgb(197, 197, 197);
  border-right: 3px solid rgb(197, 197, 197);
}
.jungle-screen:hover {
  box-shadow: 0 0 4px 4px grey;

}
.current-text {
  font-family: $font-stack;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

.each-project {
  width: 95%;
  @include flexbox(column, flex-start, center);
  margin-bottom: 35px;
  padding-bottom: 10px;

  // border-radius: 20px;
  // border: 2px solid grey;
  cursor: pointer;
  // background-color: rgb(253, 253, 253);
}

// .each-project:hover {
//   box-shadow: 0 0 6px 6px darkgrey;
// }
.project-git {
  color:#6a6b73;
}
.current-proj {
  // background-color: #f2f2f2;
  width: 99%;
  // box-shadow: -2px 0 4px 2px grey;
  font-family: $font-stack;
}

.project-git:hover {
  color: $lightb;
}
.skill-item {
  padding: 15px;
  width: 100%;
  min-height: 115px;
  @include flexbox(row, space-between, center)
}
.skill-title {
  font-family: "Poppins";
  font-size: 1.1em;
  text-align: center;
}
.projects-label {
  cursor: pointer;
  color: rgb(55, 14, 102);
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.skill-logo {
  max-width: 85px;
  max-height: 85px;
  // background-color: $white;
}
.project-label-container {
  @include flexbox(row, space-around, center);
  width: 100%;
}
@media screen and (max-width: 850px) {
  .main-layout {
    @include flexbox(column, center, flex-start);
    height: 100%;
  }
  .projects-layout{
    width: 100%;
    overflow-y: default;
    scroll-snap-type: default;
    scroll-padding-top: 0;
  }
  .specialty-layout {
    width: 100%;
    box-shadow: 0 0 2px 2px grey;
    // scroll-snap-type: default;
    // scroll-padding-top: 0;
    min-height: calc(100vh - 85px);
    padding-bottom: 75px;
  }
  .work-layout {
    width: 100%;
    box-shadow: 0 0 2px 2px grey;
    overflow-y: default;
    scroll-snap-type: default;
    scroll-padding-top: 0;
    height: 100%;
  }
  
}
.projects-closing {
  margin-bottom: 25px;
  // position: fixed;
  z-index: 2;
  color: $darkp;
}

@media screen and (min-width: 851px) {
  .specialty-layout {
    height: calc(100vh - 85px);
    scroll-snap-type: y mandatory;
    scroll-padding-top: 4px;
    overflow-y: scroll;
  }
  .projects-layout {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 4px;
  }
  .projects-closing {
    position: relative;
    top: -70px;
  }
  .each-project {
    margin-bottom: 0;
  }
  .work-layout > .work-item-container:nth-child(5) {
    margin-bottom: 0;
  }
  .current-proj {
    padding-bottom: 40px;
  }
  
}
@media (max-width: 850px) and (min-width: 401px) {
  .projects-layout {
    margin-top: 2px;
  }
  .content {
    width: 100%;
  }
  .current-proj {
    width: 100%;
  }
  .each-project {
    width: auto;
  }
  
  .skill-item {
    padding-left: 50px;
    padding-right: 50px;
  }
  
}
@media screen and (max-width: 850px) {

  .main-layout {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    .main-title {
      width: 100%;
    }
  }
  .main-layout::-webkit-scrollbar {
    width: 16px;
    z-index: 2;
  }
 
  .main-layout::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(184, 182, 182, 0.699);
    z-index: 2;
    border-radius: 10px;
    width: 10px;
    

  }
  .specialty-layout {
    margin-top:400px;
  }
 
  .main-layout::-webkit-scrollbar-thumb {
    background-color:$darkp;
    // background: blue;
    color: red;
    // outline: 1px solid rgb(10, 26, 43);
  // width: 8px;
    // border: 2px solid rgb(70, 145, 158);
    border-radius: 1px;
    z-index: 2;

  }
  .main-layout::-webkit-scrollbar-thumb:hover {
    background-color:red;

  }
  
}


@media screen and (max-height: 400px) {
  .work-layout {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 4px;
  }
  
}
