@import './helpers.scss';

.main-layout {
  @include flexbox(row, flex-start, center);
  // background-color: $white;
  height: calc(100vh - 85px);
  width: 100vw;
}

.work-layout {
  width: 25%;
  height: 100%;
  // background-color: $white;
  color: rgb(38, 38, 56);
  @include flexbox(column, flex-start, center);
  box-shadow: 0 0 3px 3px grey;
  
  padding-left: 15px;
  padding-right: 15px;
  cursor: default;

}
.projects-layout {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  @include flexbox(column, flex-start, center);
  scroll-snap-type: y mandatory;
  scroll-padding-top: 4px;
}
.specialty-layout {
  @include flexbox(column, flex-start, center);
  scroll-snap-type: y mandatory;
  scroll-padding-top: 4px;
  overflow-y: scroll;
  min-height: calc(100vh - 85px);
  width: 25%;
  // background-color: $white;
  // padding-bottom: 75px;
}
.main-title {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 40px;
  width: 100%;
  color: rgb(32, 6, 53);
  font-weight: bold;
}
.work-image {
  height: 75px;
  border-radius: 50%;
  box-shadow: 4px -4px  rgba(119, 119, 119, 0.6);
  -moz-box-shadow: 10px -10px  rgba(109, 109, 109, 0.6);
  -webkit-box-shadow: 4px -4px  rgba(122, 122, 122, 0.6);
  -o-box-shadow: 10px -10px  rgba(129, 129, 129, 0.6);
}
.work-item-container {
  @include flexbox(row, space-between, center);
  width: 100%;
  text-align: right;
  margin-bottom: 35px;
}
.work-header {
  margin-bottom: 100px;
}

.projects-iframe {
  width: 80%;
  min-height: 280px;
  border: 2px solid rgb(197, 197, 197);
  border-right: 3px solid rgb(197, 197, 197);
}
.projects-iframe:hover {
  width: 80%;
  min-height: 280px;
  box-shadow: 0 0 4px 4px grey;
}
.jungle-screen {
  width: 80%;
  height: 260px;
    border: 2px solid rgb(197, 197, 197);
  border-right: 3px solid rgb(197, 197, 197);
}
.jungle-screen:hover {
  box-shadow: 0 0 4px 4px grey;

}
.each-project {
  width: 95%;
  @include flexbox(column, flex-start, center);
  margin-bottom: 35px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 2px solid grey;
  cursor: pointer;
  // background-color: rgb(253, 253, 253);
}

.each-project:hover {
  box-shadow: 0 0 6px 6px darkgrey;
}

.skill-item {
  margin: 15px;
}
.projects-label {
  cursor: pointer;
  color: rgb(55, 14, 102);
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.skill-logo {
  max-width: 100px;
  max-height: 100px;
  // background-color: $white;
}
@media screen and (max-width: 850px) {
  .main-layout {
    @include flexbox(column, center, flex-start);
    height: 100%;
  }
  .projects-layout{
    width: 100%;
    overflow-y: default;
    scroll-snap-type: default;
    scroll-padding-top: 0;
  }
  .specialty-layout {
    width: 100%;
    box-shadow: 0 0 2px 2px grey;
    // scroll-snap-type: default;
    // scroll-padding-top: 0;
    min-height: calc(100vh - 85px);
    padding-bottom: 75px;
  }
  .work-layout {
    width: 100%;
    box-shadow: 0 0 2px 2px grey;
    overflow-y: default;
    scroll-snap-type: default;
    scroll-padding-top: 0;
    height: 100%;
  }
}
.projects-closing {
  margin-bottom: 25px;
}
@media screen and (min-width: 851px) {
  .specialty-layout {
    height: calc(100vh - 85px);
  }
}

@media screen and (max-height: 400px) {
  .work-layout {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 4px;
  }
}