@import './helpers';

.nav-container {
  @include flexbox(row, space-between, center);
  height: 70px;
  padding-bottom: 2px;
  background-color: $darkp;
  color: white;
  opacity: 0.9;
  padding-left: 55px;
  padding-right: 55px;
}


.logo {
  max-height: 55px;
  max-width: 55px;
}
.nav-logo {
  cursor: pointer;

}
.about-me-logo {
  font-size: 37px;
  cursor: pointer;
}

.selected {
  border-radius: 50%;
  border: 2px solid salmon;
  color: salmon;
  height: 60px;
  width: 60px;
  text-align: center;
}
.not-selected {
  border-radius: 50%;
    border: 2px solid rgb(14, 8, 37);

  color: white;
  height: 60px;
  width: 60px;
  text-align: center;
}