@import './helpers.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

.profile-layout {
  // background-color: $white;
  height: calc(100vh - 85px);
  padding: 35px;
  @include flexbox(row, flex-start, center);
  font-family: 'Poppins';
}


.prof-pic {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  cursor: pointer;
}
.background-pic {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.pic-container {
  @include flexbox(row, space-around, center);
  width: 100%;
  align-self: flex-start;
}
.bg-container {
  height: calc(100vh - 85px);
  width: calc(100vh - 85px);
  position: fixed;
  right: 0;
  z-index: 0;
  box-shadow: -8px 0 8px 0 grey;
}
.prof-anec-container {
  width: 53%;
  height: 377px;
}

.anecdote {
  width: 80%;
  color: rgb(15, 15, 15);
  text-align: left;
  @include flexbox(column, flex-start, center);
  margin-left: 100px;
  margin-top: 75px;
  z-index: 1;


}
.anecdote h4 {
  animation: fadeInLeft 1s 1;
  animation-delay: 0.5s; 
}
.anecdote h5 {
  animation: fadeInLeft 1s 1;
  animation-delay: 1.5s; 
}
.anecdote .h6-1 {
  animation: fadeInLeft 1s 1;
  animation-delay: 2.5s; 
}
.anecdote .smoky-con {
  animation: fadeInLeft 1s 1;
  animation-delay: 3.5s; 
}
  
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.bg-spacer {
  width: calc(100vh - 85px);
  height: calc(100vh - 85px);
  position: relative;
  right: 0;
  z-index: -1;

}
.name-header {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 60px;
}
.punch-line {
  cursor: pointer;
}
.punch-line:hover {
  color: $lightb;
  font-weight: bold;
}

@media screen and (max-width: 1030px) {
  // .profile-layout {
  
  //   @include flexbox(column, center, flex-start);
  // }
  .bg-container {
    display: none;
  }
  .bg-spacer {
    display: none;
  }
  .prof-anec-container {
    width: 100%;
  }
  .name-header {
    font-size: 40px;
  }
  .prof-pic {
    height: 100px;
    width: 100px;
  }
  .punch-line {
    text-align: left;
    // margin-left: -20px;
  }
  .anecdote {
    margin-left: 50px;
  }
}
@media screen and (max-width: 650px) {
  .punch-line {
    text-align: left;
    margin-left: -130px;
  }
}
@media (min-height: 1023px) and (max-width: 1367px) {
  .background-pic {
    width: 50vw;
    justify-self: flex-end; 
    height: 50vw;
  }
  .bg-spacer {
    width: 50vw;
    justify-self: flex-end;
  }
  .bg-container {
    display: flex;
    justify-content: flex-end;
    width:50vw;
    height: 50vw;
  }
} 