@import './helpers.scss';

.specialty-layout::-webkit-scrollbar {
  width: 4px;
}
 
.specialty-layout::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
.specialty-layout::-webkit-scrollbar-thumb {
  background-color:$darkp;
  // outline: 1px solid slategrey;
  border: 1px solid rgb(27, 6, 66);
  border-radius: 10px;

}
.projects-layout::-webkit-scrollbar {
  width: 4px;
}
 
.projects-layout::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
.projects-layout::-webkit-scrollbar-thumb {
  background-color: $darkp;
  // outline: 1px solid slategrey;
  border: 1px solid rgb(74, 28, 128);
  border-radius: 10px;
}
.work-layout::-webkit-scrollbar {
  width: 4px;
}
 
.work-layout::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
.work-layout::-webkit-scrollbar-thumb {
  background-color:$darkp;
  // outline: 1px solid slategrey;
  border: 1px solid rgb(18, 7, 66);
  border-radius: 10px;
}
.res-embed-container::-webkit-scrollbar {
  width: 4px;
}
 
.res-embed-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
.res-embed-container::-webkit-scrollbar-thumb {
  background-color:$darkp;
  // outline: 1px solid slategrey;
  border: 1px solid rgb(16, 8, 63);
  border-radius: 10px;
}

// @media screen and (max-width:650px) {
//   .sepcialty-layout::-webkit-scrollbar {
//     display: none;
//   }
// }